settings.json
.ipynb_checkpoints/
__pycache__/
.DS_Store

karras2019stylegan-ffhq-1024x1024.for_g_all.pt
weights/*
landmarks/shape_predictor_68_face_landmarks.dat
Idol Space/*
Pose Conditioning
Ayaneru FaceSpace
UsideU FaceSpace
